.portfolio-item-holder {
	margin-top: 1rem;
}

.row {
	text-align: center;
}

.link-holder {
	margin-top: 0.5rem;
}

.title-holder {
	margin-top: 0.2rem;
	text-align: left;
}

.link {
	color: black;
}

.link:hover {
	color: black;
}
